:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 70px;
    border-bottom: 1px solid #c00000;
    display: flex;
    align-items: center;
    & .logo {
        width: 250px;
        height: 100%;
        position: relative;
        & img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    & .title {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        & .control {
            display: flex;
            flex: 1;
            & div {
                box-shadow: #b8b8b8 2px 4px 3px;
                background: #f0f0f0;
                width: 90%;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                border-radius: 7px;
                border: 1px solid #a0a0a0;
                font-size: 13px;
                cursor: pointer;
                margin: 10px;
            }
        }
    }
}

.forms,
.tabs {
    border-bottom: 1px solid #c00000;
}

.form {
    background: #d8d8d8;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin: 5px 20px;
}

.cell-1x,
.cell-2x,
.cell-3x {
    display: flex;
    align-items: center;
    & div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: end;
        padding: 0px 10px;
        font-size: 13px;
        box-sizing: border-box;
    }
    & input,
    select,
    .input {
        border: initial;
        outline: initial;
        height: 25px;
    }
}

.cell-1x {
    flex: 25%;
    & div {
        flex: 50%;
    }
    & input,
    select,
    .input {
        flex: 50%;
    }
}

.cell-2x {
    flex: 50%;
    & div {
        flex: 25%;
    }
    & input,
    select,
    .input {
        flex: 75%;
    }
}

.cell-3x {
    flex: 33%;
    & div {
        flex: 40%;
    }
    & input,
    select,
    .input {
        flex: 60%;
    }
}

.info {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
    color: #c00000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.first-row {
    border: 1px solid #b8b8b8;
    height: 35px;
    & td {
        text-align: center;
        font-weight: bold;
        background: #d8d8d8;
        border: 1px solid #b8b8b8;
    }
}

.next-row {
    height: 35px;
    & td {
        text-align: center;
        border: 1px dashed #f2f2f2;
        color: #858684;
    }
}

.last {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.events {
    min-height: 200px;
}

.tabs {
    flex: 1;
    margin-top: 10px;
}

.tab-list {
    display: flex;
    & div {
        background: linear-gradient(to top, #c0c0c0, #e8e8e8);
        border: 1px solid #787878;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        flex: 1;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

fa {
    margin-right: 10px;
    color: #c30000;
    font-size: 12px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.input {
    position: relative;
    padding: initial !important;
    & fa {
        position: absolute;
        font-size: 20px;
        bottom: 0px;
        left: 10px;
        color: black;
    }
    & input {
        padding-left: 35px;
        box-sizing: border-box;
        height: 25px;
    }
}