<div class="header">
    <div class="logo">
        <img src="assets/images/logo.png" alt="" [routerLink]="['']">
    </div>
    <div class="title">
        <div class="control">
            <div>
                <fa [name]="'window-close-o'"></fa>
                Сохранить и закрыть
            </div>
            <div>
                <fa [name]="'floppy-o'"></fa>
                Сохранить
            </div>
            <div>
                <fa [name]="'arrow-right'"></fa>
                Передать исполнителю
            </div>
            <div>
                <fa [name]="'reply'"></fa>
                Вернуть на коррекцию
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="forms">
        <div class="form">
            <div class="row">
                <div class="cell-1x">
                    <div>Уникальный номер претензии</div>
                    <input type="text" name="" value="">
                </div>
                <div class="cell-1x">
                    <div>Дата регистрации</div>
                    <input type="text" name="" value="" placeholder="дд.мм.гггг">
                </div>
                <div class="cell-1x">
                    <div>Максимальный срок рассмотрения</div>
                    <input type="text" name="" value="">
                </div>
                <div class="cell-1x">
                    <div>Рассчетная дата завершения рассмотрения</div>
                    <input type="text" name="" placeholder="дд.мм.гг (кол-во дней)">
                </div>
            </div>
            <div class="row">
                <div class="cell-2x">
                    <div>Тип обращения</div>
                    <select>
                        <option selected value="Опротестование в МПС">Опротестование в МПС</option>
                        <option value="Опротестование в МПС">Опротестование в МПС 2</option>
                        <option value="Опротестование в МПС">Опротестование в МПС 3</option>
                        <option value="Опротестование в МПС">Опротестование в МПС 4</option>
                    </select>
                </div>
                <div class="cell-1x">
                    <div>Фактический срок рассмотрения</div>
                    <input type="text" name="" value="">
                </div>
                <div class="cell-1x">
                    <div>Фактическая дата закрытия</div>
                    <input type="text" name="" value="" placeholder="дд.мм.гггг">
                </div>
            </div>
            <div class="row">
                <div class="cell-1x">
                    <div>Текущий статус обращения</div>
                    <input type="text" name="" value="">
                </div>
                <div class="cell-1x">
                    <div>Результат рассмотрения</div>
                    <input type="text" name="" value="">
                </div>
                <div class="cell-2x">
                    <div>Ответственный исполнитель</div>
                    <input type="text" name="" value="">
                </div>
            </div>
        </div>
        <div class="info">Основная информация:</div>
        <div class="form">
            <div class="row">
                <div class="cell-3x">
                    <div>ФИО Клиента</div>
                    <input type="text" name="" placeholder="">
                </div>
                <div class="cell-3x">
                    <div>Номер карты</div>
                    <div class="input">
                        <fa [name]="'search'"></fa>
                        <input type="text" name="" placeholder="хххх-хххх-хххх-хххх-хххх">
                    </div>
                </div>
                <div class="cell-3x">
                    <div>13-ти значный номер счета клиента</div>
                    <div class="input">
                        <fa [name]="'search'"></fa>
                        <input type="text" name="" placeholder="хххх-хххххх-ххх">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-3x">
                    <div>Причина обращения</div>
                    <input type="text" name="" placeholder="">
                </div>
                <div class="cell-3x">
                    <div>Описание товара, услуги</div>
                    <input type="text" name="" placeholder="">
                </div>
                <div class="cell-3x">
                    <div>Паспортные данные (для ФЛ)/номер клиента</div>
                    <div class="input">
                        <fa [name]="'search'"></fa>
                        <input type="text" name="" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-3x">
                    <div>Место регистрации обращения</div>
                    <input type="text" name="" placeholder="">
                </div>
                <div class="cell-3x">
                    <div>Дата написания обращения</div>
                    <input type="text" name="" placeholder="дд.мм.гггг">
                </div>
                <div class="cell-3x">
                    <div>ФИО зарегистрировавшего обращение</div>
                    <input type="text" name="" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="tabs">
        <div class="tab-list">
            <div class="tab" *ngFor="let tab of tabs" (click)="onTabClick(tab)">{{tab.title}}</div>
        </div>
        <div class="tab-content">{{currentTab?.text}}</div>
    </div>
    <div class="info">Хронология событий:</div>
    <div class="events">
        <table>
            <tbody>
                <tr class="first-row">
                    <td>Дата формирования</td>
                    <td>Описание действия</td>
                    <td>ФИО инициатора запроса</td>
                    <td>Deadline</td>
                    <td>ФИО исполнителя</td>
                    <td>Ссылка на параметры события</td>
                </tr>
                <tr class="next-row">
                    <td>дд.мм.гггг</td>
                    <td>Запрос заключения безопасности</td>
                    <td>Кузнецов Константин Евгеньевич</td>
                    <td>дд.мм.гггг</td>
                    <td>Сидорова Ирина Алексеевна</td>
                    <td class="last">(ссылка)</td>
                </tr>
                <tr class="next-row">
                    <td>дд.мм.гггг</td>
                    <td>Предоставление заключения от безопасности</td>
                    <td>Сидорова Ирина Алексеевна</td>
                    <td>дд.мм.гггг</td>
                    <td>Кузнецов Константин Евгеньевич</td>
                    <td class="last">(ссылка)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>