<div class="item">
    <div (click)="onItemClick()">
        - {{item.title}}
    </div>
    <div class="children" *ngIf="item.children && expand">
        <div class="child" *ngFor="let child of item.children">
            - {{child.title}}
        </div>
    </div>
</div>