:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 70px;
    border-bottom: 1px solid #c00000;
    display: flex;
    align-items: center;
    & .logo {
        width: 250px;
        height: 100%;
        position: relative;
        & img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    & .title {
        border-left: 1px solid #d8d8d8;
        height: 100%;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        flex: 1;
        & .text {
            flex: 1;
            padding-left: 20px;
            font-size: 22px;
            color: #c00000;
            font-weight: bold;
        }
    }
}

.content {
    display: flex;
    height: 100%;
}

.left {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1;
}

.control {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & div {
        box-shadow: #b8b8b8 2px 4px 3px;
        background: #f0f0f0;
        width: 90%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid #a0a0a0;
        font-size: 13px;
        cursor: pointer;
    }
}

.folders {
    background: #f0f0f0;
    border: 1px solid #a0a0a0;
    display: flex;
    flex-direction: column;
    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        color: #c30000;
        font-weight: bold;
        font-size: 18px;
    }
}

.search-wrapper {
    height: 130px;
    padding: 10px 0;
    box-sizing: border-box;
}

.search {
    background: #f0f0f0;
    border: 1px solid #a0a0a0;
    display: flex;
    height: 65px;
    & .title {
        margin: 15px;
    }
    & .search-input {
        flex: 1;
        display: flex;
        align-items: center;
        & input {
            outline: initial;
            width: 300px;
            height: 45px;
            margin-left: 15px;
        }
    }
}

.table {
    margin-top: -39px;
    flex: 1;
    & table {
        width: 100%;
    }
}

table {
    border-collapse: collapse;
}

.row {
    display: flex;
    padding: 10px 0;
    & div {
        padding: 2px;
        flex: 100%;
        border: 1px dashed lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.first {
    font-style: italic;
}

.head-row {
    display: flex;
    & div {
        padding: 2px;
        text-align: center;
        font-weight: bold;
        flex: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        border: 1px solid #a0a0a0;
        background: #f0f0f0;
    }
}

.list {
    margin-bottom: 20px;
}

.folders.f {
    min-height: 430px;
}

.second {
    flex: 1;
}

fa {
    margin-right: 10px;
    color: #c30000;
    font-size: 12px;
}

.input-container {
    position: relative;
    & fa {
        position: absolute;
        font-size: 20px;
        bottom: 10px;
        left: 20px;
        color: black;
    }
    & input {
        padding-left: 30px;
        box-sizing: border-box;
        height: 40px;
    }
}