<div class="header">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="title">
        <div class="text">
            Система учета обращений клиентов
        </div>
        <div class="profile">
            <img src="assets/images/profile.png" alt="">
        </div>
    </div>
</div>
<div class="content">
    <div class="left">
        <div class="control">
            <div>
                <fa [name]="'file-o'"></fa>
                Создать новое обращение
            </div>
            <div>
                <fa [name]="'pencil'"></fa>
                Изменить тип обращения
            </div>
        </div>
        <div class="folders f">
            <div class="title">Личные папки</div>
            <div class="list">
                <app-menu-item *ngFor="let folder of folders" [item]="folder"></app-menu-item>
            </div>
        </div>
        <div class="folders second">
            <div class="title">Справочники</div>
            <div class="list">
                <app-menu-item *ngFor="let folder of foldersSecond" [item]="folder"></app-menu-item>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="search-wrapper">
            <div class="search">
                <div class="title">
                    Быстрый поиск <br> по номеру обращения / ФИО клиента
                </div>
                <div class="search-input">
                    <div class="input-container">
                        <fa [name]="'search'"></fa>
                        <input type="text" placeholder="Введите данные для поиска">
                    </div>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="head-row">
                <div>№ обращения</div>
                <div>Дата регистрации</div>
                <div>Тип обращения</div>
                <div>Статус</div>
                <div>Осталось дней</div>
                <div>Фио клиента</div>
                <div>Тип клиента</div>
                <div>Причина обращения</div>
            </div>
            <div class="row">
                <div class="first">
                    <a [routerLink]="['/second']">
                        R №123 (ссылка)
                    </a>
                </div>
                <div>17.03.2017</div>
                <div>Опротестование МПС</div>
                <div>Ожидание ответа на запрос</div>
                <div>2</div>
                <div>Иванов Иван Иванович</div>
                <div>VIP</div>
                <div>Неполучение наличных в АТМ стороннего банка</div>
            </div>
        </div>
    </div>
</div>